<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rightteam.accountbook">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.KeepActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.DetailActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.WalletActivity"
            android:theme="@style/TranslucentTheme"
            android:screenOrientation="portrait"/>
    </application>

</manifest>